extends ./layout.pug

block content
    script var response = !{JSON.stringify(response)}
    h2 WordExplorer: Word of the day!
    .container
        .ow
            fieldset
                if response
                    h2!= response.word
                    p Part of Speech: #{response.pos}
                    |
                    |
                    |
                    h4 Short definition:
                    p!= response.meaning
                    |
                    |
                    h4 Synonyms:
                    p!= response.synonyms
                    |
                    |
                    |
                    |
                    |
                    |
                    h4 Example usage:
                    p!= response.usageNote
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                form(action = `/wordExplorer/words/${response.word}`, method = 'PUT')
                    input.field-input(name = 'usage', type=text, placeholder = 'Enter new example usage')
                    button#update(
                    type='submit'
                    style='width:200px; height: 30px; background-color: white; font-size: 15px;'
                    ) Update example usage
                |
                |
                |
                |
                |
                |
                |
        .container
            fieldset
                button#delete(
                 - function deleteWord(){
                    console.log('Almost there')
                    }
                type='submit',
                style='width:200px; height: 30px; background-color: white; font-size: 15px;'
                ) Delete word
                |
                |
                |
                |
        .container
            fieldset
                a(href='/wordExplorer')
                    button#home(
                      type='button'
                      style='width:200px; height: 30px; background-color: white; font-size: 15px;'
                    ) Return home

